*{
    box-sizing: border-box;
};

h1{

  text-shadow:0px 45px gray;
    
};

h2 {
  text-shadow:0px 45px rgba(128, 128, 128, 0.37);
};
body{
  position: relative;
}
.nav{
  position: absolute;
  left: 0px;
  right: 0px;

}
.nav-link:focus, .nav-link:hover {

color: brown !important;
}

section .imgg {
  background-image: url("/img/book-composition-with-open-book.jpg");
  background-size: cover;
  background-position: center;
  
}



